*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
header p {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(79, 70, 229, 1);
}
header h3 {
    font-size: 2.25rem;
    font-weight: 800;
}
header button, header #favoriteButton {
    width: auto;
    color: black;
    padding: 5px;
    margin: 5px;
    border: solid black;
    font-weight: 700;
}
#images {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin: 0 auto 30px auto;
}
#images img{
    width: 500px;
    height: 300px;
    margin: 20px auto 0 auto;
    border-radius: 25px;
    background-color: lightgrey;
    background-position: cover;
}
#images .fox img {
    width: 100%;
    object-fit: cover;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}
.fox:hover .remButton {
    visibility: visible;
    cursor: pointer;
    opacity: 1;
}
.remButton {
    position: relative;
    margin: -25px;
    bottom: calc(100% - 60px);
    right: 25px;
    width: 25px;
    height: 25px;
    background-image: url(../assets/delete-button.png);
    background-repeat: no-repeat;
    background-size: cover;

    /* Transition */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
}
.credits {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    height: auto;
    font-size: small;

    background-color: #FAF161;
}
.credits a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1rem;
}
.credits .icons-by {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: end;
}
@media screen and (max-width: 800px){
    #images {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 550px){
    #images {
        grid-template-columns: 1fr;
    }
}